# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local env
.env

# Dependencies
node_modules/

# Build output
dist/

# TypeScript build info
*.tsbuildinfo

# Generated config output
vite.config.js
vite.config.d.ts
